#home{
  height: 100vh;
  width: 50px;
  display: flex;
}

#opMargin{
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: lightgrey;
  z-index: 1;
}

#pageLayout{
  display: flex;
}

#title{
  height: 70%;
  margin-left: 10px;
  text-shadow: 10px;
  font-size: 25px;
}

#dropDown{
  height: 70%;
  width: 35px;
  border: 2px black solid;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

#homeScreen{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#homeContents{
  width: 80%;
  height: 100%;
  background-color: rgb(216, 216, 216);
}

#products{
  width: 100%;
  height: 300px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#productPTag{
  background-color: whitesmoke;
  opacity: .9;
  border-radius: 5px;
}

#productButton{
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: black 3px solid;
  background-color: rgb(255, 255, 255);
}

#productSpotlight{
  width: fit-content;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

#carosel{
  width: 100%;
  height: 350px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow-x: scroll;
}

div::-webkit-scrollbar{
  display: none;
}

#prodIcon{
  width: 200px;
  height: 250px;
  font-size: 8px;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgb(216, 216, 216);
}

#prodName {
  width: 98%;
  color: black;
  font-size: 10px;
  text-align: center;
}

#prodImage {
  width: 100%;
}

#footer{
  width: 100%;
  height: 300px;
  background-color: rgb(219, 219, 219);
  display: flex;
  justify-content: center;
  align-items: center;
}

#footerContent{
  width: 500px;
  min-height: 300px;
  border: rgb(0, 0, 0), 2px, solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footerOption{
  font-size: 12px;
  font-weight: 400;
}

.bar{
  background-color: black;
  height: 3px;
  width: 70%;
  margin: 2px;
}

#lowerScreen{
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100% + 200px;
  z-index: 0;
}

#pageContent{
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: solid rgb(211, 211, 211) 1px;
}

#pageNumbers{
  margin: 10px;
  display: flex;
  border: solid 1px black;
}

.numbers{
  padding: 10px;
  margin: 0px;
}

#numbersHighlighted{
  padding: 10px;
  margin: 0px;
  background-color: rgb(109, 109, 109);
}

.numbers:hover{
  background-color: rgb(129, 129, 129);
  cursor: pointer;
}

#numbersHighlighted:hover{
  background-color: rgb(129, 129, 129);
  cursor: pointer;
}